@use './scss/base/variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: signika;
	src: url(./assets/fonts/SignikaNegative-Regular.ttf);
}

@font-face {
	font-family: poppins;
	src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: openSans;
	src: url("./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
}

body {
	background: $secondary-color;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-color;
		border-radius: 5em;
	}

	& {
		scrollbar-width: thin;
		scrollbar-color: $primary-color;

		&:hover {
			scrollbar-color: $primary-color transparent;
		}
	}
}